.first{
    background-color:#1F2937;
    height:30rem;
    width:auto;
}
.logo{
    font-size:24px;
    color: #F9FAF8;
}
.Navbar{
display:flex;
justify-content: space-around;
}
.Navbar-right{
    display: flex;
    margin-right:300px ;
}
.Navbar-right li{
    list-style: none;
}
.Navbar-right li a {
    
    text-decoration: none;
    color:#E5E7EB;
    margin: 50px;
    font:18px;
}
.second-part{
 display: flex;
 justify-content:space-around;
}
 .text{
font-size:48px;
color:#F9FAF8;
font-weight:bold;
 }
 .subtext{
    font-size: 18px;
    color:#E5E7EB;
 }
 .second-part div a{
    font-size:18px;
    color: #E5E7EB;
    text-decoration: none;
    background-color:#3882F6;
    border-radius:10px;
    padding:5px;
    padding-left:30px;
    padding-right:30px;
 }
 .second-part span img {
    padding-top: 60px;
    height:10rem;
    width:40rem;
 }
 .center-header{
    font-size:36px;
    font-weight: bold;
    color:#1F2937;
    text-align: center;
 }
.picture-list {
display: flex;
justify-content: center;
}

.picture-list li {
    list-style: none;
    width:20rem;
    
}
.picture-list li p{
    font-size: 18px; 
    
}
.picture-list li img {
  display: block;
  width: 50%;
}

.third{
    background-color:#E5E7EB;
    text-align: center;
    height:40rem;
}

.third p{
    font-size:36px;
    color:#1F2937;
    padding:15rem 0px 0px 0px;
    font-style:italic;
}
.fourth{
    margin-top:100px;
    display: flex;
    justify-content: center;
}
.fourth-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3882F6 ;
    width:1000px;
    border-radius:10px;
}
 .main{
    font-size:20px;
    color: #E5E7EB;
    font-weight: bold;
 }
 .main-sub{
    font-size:15px;
    color: #E5E7EB;
 }
.fourth-sub span{
    margin-left: 15rem;
   
}
.fourth-sub span a{
    color: #E5E7EB;
    font-weight: bold;
    text-decoration: none; 
    border-radius:20px;
    border-color: #E5E7EB;
    border-style: solid;
    padding: 5px 40px 5px 40px;
}
.footer{
    background-color: #1F2937;
    text-align: center;
    font-size:20px;
    margin-top:100px;
    height:70px;
}
.footer p{
    padding-top: 25px;
    color: #E5E7EB;
}